/SEM-2/AJP/LAB3/LAB3/target/
/SEM-2/AJP/WebApplication1/WebApplication1/nbproject/private/
/SEM-2/AJP/WebApplication1/WebApplication1/build/
/SEM-2/AJP/JSP/JSPApplication/JSPApplication/nbproject/private/
/SEM-2/AJP/JSP/JSPApplication/JSPApplication/build/
/SEM-2/AJP/JSP/JobPost/JobPost/nbproject/private/
/SEM-2/AJP/JSP/JobPost/JobPost/build/
/SEM-2/AJP/JSP/JobPost/JobPost/dist/
/SEM-2/AJP/Practical 2/JSP/JobPost/JobPost/build/
/SEM-2/AJP/Practical 2/JSP/JobPost/JobPost/dist/
/SEM-2/AJP/Practical 2/JSP/JobPost/JobPost/nbproject/private/
/SEM-2/AJP/Practical 2/JobPost/JobPost/build/
/SEM-2/AJP/Practical 2/JobPost/JobPost/dist/
/SEM-2/AJP/Practical 2/JobPost/JobPost/nbproject/private/
/SEM-2/AJP/Practical 3/JobPost/JobPost/build/
/SEM-2/AJP/Practical 3/JobPost/JobPost/dist/
/SEM-2/AJP/Practical 3/JobPost/JobPost/nbproject/private/
